*PROJECT ONE*
-----------------
PART 1:  Data scraping and preparation 

Rawan Abdellah

Step 3: Scrape the NASA data
-----------------
We scraped data using BeautifulSoup, splitting by rows
then removing extra characters and add all data into
lists then put it in dataframe using pandas:

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from dateutil.parser import parse
import numpy as np
import datetime
import re
textLines=[]
textCol=[]
source = requests.get('https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html').text
soup = BeautifulSoup(source, 'html')

words =soup.get_text()

for x  in words.split('\n'):
    textLines.append(x)
    
for x  in textLines[15:-4]:
    textCol.append(x)

a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []
i = []
j = []
k = []
l = []
m = []
n = []
o = []

for row in textCol:
    cell = row.split()
    a.append(cell[0])
    b.append(cell[1])
    c.append(cell[2])
    d.append(cell[3])
    e.append(cell[4])
    f.append(cell[5])
    g.append(cell[6])
    h.append(cell[7])
    i.append(cell[8])
    j.append(cell[9])
    k.append(cell[10])
    l.append(cell[11])
    m.append(cell[12])
    n.append(cell[13])
    o.append(cell[14])
    
df = pd.DataFrame({'Start_date':a, 'Start_time':b, 'End_date':c, 'End_time':d, 'start_fre':e, 'end_fre':f, 'flare_loc':g,
                   'flare_region':h,'importance':i,'CME_date':j,'CME_time':k,'CPA':l,'width':m,'speed':n,'plots':o})
df

,Start_date,Start_time,End_date,End_time,start_fre,end_fre,flare_loc,flare_region,importance,CME_date,CME_time,CPA,width,speed,plots
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312,PHTX
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,Halo,360,878,PHTX
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,Halo,360,464,PHTX
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296,PHTX
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712,PHTX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,2017/07/23,05:27,07/23,06:12,4400,900,BACK,-----,----,07/23,04:48,Halo,360,1848,PHTX
513,2017/09/04,20:27,09/05,04:54,14000,210,S10W12,12673,M5.5,09/04,20:12,Halo,360,1418,PHTX
514,2017/09/06,12:05,09/07,08:00,16000,70,S08W33,12673,X9.3,09/06,12:24,Halo,360,1571,PHTX
515,2017/09/10,16:02,09/11,06:50,16000,150,S09W92,-----,X8.3,09/10,16:00,Halo,360,3163,PHTX
516,2017/09/12,07:38,09/12,07:43,16000,13000,N08E48,12680,C3.0,09/12,08:03,124,96,252,PHTX

Step 4: Tidy the NASA table
-----------------
We have recoded any missing entries as NaN,
Halo as NaN and added is_halo and lowerWidth
columns,then changed INTs to Floats.

In [6]:

textLines=[]
textCol=[]
source = requests.get('https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html').text
soup = BeautifulSoup(source, 'html')

words =soup.get_text()

for x  in words.split('\n'):
    textLines.append(x)
    
for x  in textLines[15:-4]:
    textCol.append(x)

a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []
i = []
j = []
k = []
l = []
m = []
n = []
o = []
p = []
q = []

for row in textCol:
    cell = row.split()
    a.append(cell[0])
    b.append(cell[1])
    c.append(cell[2])
    if cell[3] == '24:00': 
        d.append('00:00')
    else:
        d.append(cell[3])
    if cell[4] == '????':
        e.append(np.nan)
    else:
        e.append(float(cell[4]))  #float: to have the numbers on df as a float numbers
    if cell[5] == '????':
        f.append(np.nan)
    else:
        f.append(float(cell[5]))
    if cell[6] == '------':
        g.append('NaN')
    else:
        g.append(cell[6])
    if cell[7] == '-----':
        h.append('NaN')
    else:
        h.append(cell[7])
    if cell[8] == '----':
        i.append('NaN')
    else:
        i.append(cell[8])
    if cell[9] == '--/--':
        j.append('NaN')
    else:
        j.append(cell[9])
    if cell[10] == '--:--':
        k.append('NaN')
    elif cell[10] == '24:00': 
        k.append('00:00')
    else:
        k.append(cell[10])
    if cell[11] == 'Halo' :
        p.append('True')    #to be added on is_halo col
        l.append('NaN')
    elif cell[11] == '----':
        p.append('False')   #to be added on is_halo col
        l.append(np.nan)
    else:
        p.append('False')
        l.append(float(cell[11]))
    if cell[12] == '----' :
        m.append('NaN')
        q.append(' ')    #to be added on widLower col
    elif cell[12] == '---':
        m.append('NaN')
        q.append(' ')
    elif '>' in cell[12] :
        m.append(cell[12])
        q.append('lower')  #to be added on widLower col
    else:
        m.append(cell[12])
        q.append(' ')    #to be added on widLower col
    if cell[13] == '----':
        n.append('NaN')
    else:
        n.append(cell[13])
    o.append(cell[14])

---------------------------------
change the dates and time format
---------------------------------

In [7]:


oldA=[datetime.datetime.strptime(x,'%Y/%m/%d') for x in a]

newA= [d.strftime('%m-%d-%Y') for d in oldA]
#--------------------------------------------------
startYear=[x.year for x in oldA]

startYearStr=[str(x) for x in startYear]
#--------------------------------------------------
oldC=[datetime.datetime.strptime(x,'%m/%d') for x in c]

newC= [d.strftime('%m-%d-') for d in oldC]
#--------------------------------------------------
oldB=[datetime.datetime.strptime(x,'%H:%M') for x in b]

newB= [d.strftime('%X') for d in oldB]
#--------------------------------------------------

oldD=[datetime.datetime.strptime(x,'%H:%M') for x in d]

newD= [d.strftime('%X') for d in oldD]

---------------------------------
marge the dates and time into one
column in the dataframe.

In [8]:
df = pd.DataFrame({'Start_date':newA,'Start_time':newB, 'End_date':newC,'start_year':startYearStr,'End_time':newD, 'start_fre':e, 'end_fre':f,
                   'flare_loc':g,'flare_region':h,'importance':i,'CME_date':j,'CME_time':k,'CPA':l,'width':m,
                   'speed':n,'plots':o,'is_halo':p,'widLower':q})
#----------------------------------------------------------------------------------------------
#marge columns 

df2=pd.DataFrame()

df2['Start_date_time'] = df[['Start_date', 'Start_time']].apply(lambda x: '  '.join(x), axis=1)
df2['End_date_time'] = df[['End_date','start_year','End_time']].apply(lambda x: '  '.join(x), axis=1)
df2['CME_date_time']  = df[['CME_date', 'CME_time']].apply(lambda x: '  '.join(x), axis=1)

---------------------------------
concat the dataframes to one
and remove the > char from width.

In [11]:
df3 = pd.DataFrame({  'start_fre':e, 'end_fre':f,
                   'flare_loc':g,'flare_region':h,'importance':i,'CPA':l,'width':m,
                   'speed':n,'plots':o,'is_halo':p,'widLower':q})

#removing > from width
df4['width'] = df4['width'].str.replace('>','')
#----------------------------------------------------------------------------------------------
df4= pd.concat([df2,df3], axis=1)
df4

,Start_date_time,End_date_time,CME_date_time,start_fre,end_fre,flare_loc,flare_region,importance,CPA,width,speed,plots,is_halo,widLower
0,04-01-1997 14:00:00,04-01- 1997 14:15:00,04/01 15:18,8000.0,4000.0,S25E16,8026,M1.3,74,79,312,PHTX,False,
1,04-07-1997 14:30:00,04-07- 1997 17:30:00,04/07 14:27,11000.0,1000.0,S28E19,8027,C6.8,NaN,360,878,PHTX,True,
2,05-12-1997 05:15:00,05-14- 1997 16:00:00,05/12 05:30,12000.0,80.0,N21W08,8038,C1.3,NaN,360,464,PHTX,True,
3,05-21-1997 20:20:00,05-21- 1997 22:00:00,05/21 21:00,5000.0,500.0,N05W12,8040,M1.3,263,165,296,PHTX,False,
4,09-23-1997 21:53:00,09-23- 1997 22:16:00,09/23 22:02,6000.0,2000.0,S29E25,8088,C1.4,133,155,712,PHTX,False,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,07-23-2017 05:27:00,07-23- 2017 06:12:00,07/23 04:48,4400.0,900.0,BACK,NaN,NaN,NaN,360,1848,PHTX,True,
513,09-04-2017 20:27:00,09-05- 2017 04:54:00,09/04 20:12,14000.0,210.0,S10W12,12673,M5.5,NaN,360,1418,PHTX,True,
514,09-06-2017 12:05:00,09-07- 2017 08:00:00,09/06 12:24,16000.0,70.0,S08W33,12673,X9.3,NaN,360,1571,PHTX,True,
515,09-10-2017 16:02:00,09-11- 2017 06:50:00,09/10 16:00,16000.0,150.0,S09W92,NaN,X8.3,NaN,360,3163,PHTX,True,
516,09-12-2017 07:38:00,09-12- 2017 07:43:00,09/12 08:03,16000.0,13000.0,N08E48,12680,C3.0,124,96,252,PHTX,False,